<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>郑州瑞之雪网络科技有限公司</title>
<meta name="keywords" content="瑞之雪网络络公司，郑州瑞之雪网络公司">
<meta name="description" content="瑞之雪网络络公司，郑州瑞之雪网络公司">
<link href="__STATIC__/home/css/base.css" rel="stylesheet" type="text/css">
<link href="__STATIC__/home/css/erjinav.css" rel="stylesheet">
<link href="__STATIC__/home/css/case3.css" rel="stylesheet">
<link href="__STATIC__/home/css/kpppsss.css" rel="stylesheet">
<script src="__STATIC__/home/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="__STATIC__/home/js/case3.js"></script>
<script src="__STATIC__/home/js/jquery.kkPages.js"></script>
    <!--[if IE 6]>
    <script src="js/DD_belatedPNG.js" language="javascript" type="text/javascript">
    </script>
    <script language="javascript" type="text/javascript">
      DD_belatedPNG.fix('*');
      function MM_jumpMenu(targ,selObj,restore){ //v3.0
      eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
      if (restore) selObj.selectedIndex=0;
    }
    </script>
    <![endif]-->
</head>
<body>
<!--nav开始-->
<div class="nav">
	<div class="nav_box" style="position:fixed;z-index: 100; width:100%;">
    	<div class="nav_center">
			<div class="logo"><img src="__STATIC__/home/images/logo.png" style="margin-top:13px;"></div>
			<ul class="nav">
    			<li><a href="index.html">首页</a></li>
        		<li><a href="webjianse.html">网站定制</a></li>
        		<li><a href="weixinkaifa.html">微信开发</a></li>
        		<li><a href="moban01.html">模板建站</a></li>
        		<li><a href="news.html?sort=1">新闻资讯</a></li>
        		<li><a href="case02.html">案例展示</a></li>
        		<li><a href="aboutus.html">关于我们</a></li>
    		</ul>
        </div>
      </div>
</div>
<!--nav结束-->

<!--erjibanner开始-->
    <div class="erjibannerbg" style=" background:url(__STATIC__/home/images/erjibanner_05.png)"></div>
<!--erjibanner结束-->

<!--内容开始-->
		<ul class="top_nav">
            <li><a href="case02.html"><span class="all1">网站建设</span><span class="all">网站建设</span></a></li>
			<li class="currentA"><a href="case03.html"><span class="all1">手机网站</span><span class="all">手机网站</span></a></li>
            <li><a href="case04.html"><span class="all1">微信开发</span><span class="all">微信开发</span></a></li>
		</ul>
			<div class="fenye">
				<ul class="maincontent_anli" style="width:1280px; margin:auto; margin-bottom:0px;">
                    <li>
        				<a href="#" target="_blank">
							<span class="con_anli">
								<img src="__STATIC__/home/images/112_04.png" class="zhezhao">
								<span style="display:block;width:300px;height:500px;overflow:hidden;">
                    				<img class="lazy" src="__STATIC__/home/images/anli_shouji01.png" data-original="anli/anli2.jpg" width="100%;">
                   				</span>
								<span class="text">
									<b id="jiacu">医疗高级定制手机网站</b> <strong>企业网站</strong>
					 			</span>
								<span class="bg">
									<b></b>
								</span>
                			</span>
           				 </a>
        			</li> 
                    <li>
        				<a href="#" target="_blank">
							<span class="con_anli">
								<img src="__STATIC__/home/images/112_04.png" class="zhezhao">
								<span style="display:block;width:300px;height:500px;overflow:hidden;">
                    				<img class="lazy" src="__STATIC__/home/images/anli_shouji02.png" data-original="anli/anli2.jpg" width="100%;">
                   				</span>
								<span class="text">
									<b id="jiacu">旅游手机定制网站</b> <strong>企业网站</strong>
					 			</span>
								<span class="bg">
									<b></b>
								</span>
                			</span>
           				 </a>
        			</li> 
                    <li>
        				<a href="#" target="_blank">
							<span class="con_anli">
								<img src="__STATIC__/home/images/112_04.png" class="zhezhao">
								<span style="display:block;width:300px;height:500px;overflow:hidden;">
                    				<img class="lazy" src="__STATIC__/home/images/anli_shouji03.png" data-original="anli/anli2.jpg" width="100%;">
                   				</span>
								<span class="text">
									<b id="jiacu">美食团购营销网站</b> <strong>企业网站</strong>
					 			</span>
								<span class="bg">
									<b></b>
								</span>
                			</span>
           				 </a>
        			</li> 
                    <li style="margin-right:0px;">
        				<a href="#" target="_blank">
							<span class="con_anli">
								<img src="__STATIC__/home/images/112_04.png" class="zhezhao">
								<span style="display:block;width:300px;height:500px;overflow:hidden;">
                    				<img class="lazy" src="__STATIC__/home/images/anli_shouji04.png" data-original="anli/anli2.jpg" width="100%;">
                   				</span>
								<span class="text">
									<b id="jiacu">生活家政管家手机网站</b> <strong>企业网站</strong>
					 			</span>
								<span class="bg">
									<b></b>
								</span>
                			</span>
           				 </a>
        			</li> 
                    <li>
        				<a href="#" target="_blank">
							<span class="con_anli">
								<img src="__STATIC__/home/images/112_04.png" class="zhezhao">
								<span style="display:block;width:300px;height:500px;overflow:hidden; background-color:#30F;">
                    				<img class="lazy" src="__STATIC__/home/images/anli_shouji05.png" data-original="anli/anli2.jpg" width="100%;">
                   				</span>
								<span class="text">
									<b id="jiacu">招聘资讯手机网站</b> <strong>企业网站</strong>
					 			</span>
								<span class="bg">
									<b></b>
								</span>
                			</span>
           				 </a>
        			</li> 
                    <li>
        				<a href="#" target="_blank">
							<span class="con_anli">
								<img src="__STATIC__/home/images/112_04.png" class="zhezhao">
								<span style="display:block;width:300px;height:500px;overflow:hidden; background-color:#30F;">
                    				<img class="lazy" src="__STATIC__/home/images/anli_shouji06.png" data-original="anli/anli2.jpg" width="100%;">
                   				</span>
								<span class="text">
									<b id="jiacu">移动订票手机站</b> <strong>企业网站</strong>
					 			</span>
								<span class="bg">
									<b></b>
								</span>
                			</span>
           				 </a>
        			</li> 
                    <li>
        				<a href="#" target="_blank">
							<span class="con_anli">
								<img src="__STATIC__/home/images/112_04.png" class="zhezhao">
								<span style="display:block;width:300px;height:500px;overflow:hidden; background-color:#30F;">
                    				<img class="lazy" src="__STATIC__/home/images/anli_shouji07.png" data-original="anli/anli2.jpg" width="100%;">
                   				</span>
								<span class="text">
									<b id="jiacu">订餐手机网站</b> <strong>企业网站</strong>
					 			</span>
								<span class="bg">
									<b></b>
								</span>
                			</span>
           				 </a>
        			</li> 
                    <li style="margin-right:0px;">
        				<a href="#" target="_blank">
							<span class="con_anli">
								<img src="__STATIC__/home/images/112_04.png" class="zhezhao">
								<span style="display:block;width:300px;height:500px;overflow:hidden; background-color:#30F;">
                    				<img class="lazy" src="__STATIC__/home/images/anli_shouji08.png" data-original="anli/anli2.jpg" width="100%;">
                   				</span>
								<span class="text">
									<b id="jiacu">二手车交易手机网站</b> <strong>企业网站</strong>
					 			</span>
								<span class="bg">
									<b></b>
								</span>
                			</span>
           				 </a>
        			</li> 
             	</ul>
			</div>
<!--内容结束-->

<!--页脚开始-->
<div class="foot">
	<div class="foottop_box">
    	<ul>
        	<li><a href="index.html">首页</a></li>
            <li><a href="webjianse.html">网站定制</a></li>
            <li><a href="weixinkaifa.html">微信开发</a></li>
            <li><a href="moban01.html">模板建站</a></li>
            <li><a href="news.html?sort=1">新闻资讯</a></li>
            <li><a href="case02.html">案例展示</a></li>
            <li><a href="aboutus.html">关于我们</a></li>
        </ul>
    </div>
    <div class="footdown_box">
    	<div class="middle">
        	<div class="erweima"><img src="__STATIC__/home/images/liantu-(1).png"></div>
            <div class="lianxi">
                  <h1>0371-63377006</h1>
                  <ul>
                      <li><p>网址：www.ruizhixue.cn</p></li>
                      <li><p>电话：0371-63377006/0371-63377007</p></li>
                      <li><p>地址：郑州市郑东新区黄河南路与商都路交叉口财信大厦409.</p></li>
                      <li><p>邮编：450000</p></li>
                  </ul>
              </div>
            <div class="lianxi">
                  <h1>&nbsp;</h1>
                  <ul>
                      <li><p>&nbsp;</p></li>
                      <li><p>邮箱：rzsnow@ruizhixue.cn</p></li>
                      <li><p>Copyright © 2016-2017 郑州瑞之雪网络科技有限公司 </p></li>
                      <li><p>版权所有 豫ICP备16013544号</p></li>
                  </ul>
            </div>
        </div>
    </div>  
</div>
<!--页脚结束-->

<script>

		$(function(){

			$('.fenye').kkPages({

				PagesClass:'li', //需要分页的元素

				PagesMth:12, //每页显示个数		

				PagesNavMth:3 //显示导航个数

			});

		}); 

</script>


<script type="text/javascript">

BizQQWPA.addCustom({aty: '0', a: '0', nameAccount: 4007777051, selector: 'BizQQWPA'});

</script>

</body>
</html>