<ol></ol><!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>郑州瑞之雪网络科技有限公司</title>
<meta name="keywords" content="瑞之雪网络络公司，郑州瑞之雪网络公司">
<meta name="description" content="瑞之雪网络络公司，郑州瑞之雪网络公司">
<link href="__STATIC__/home/css/base.css" rel="stylesheet" type="text/css">
<link href="__STATIC__/home/css/fashionfoucs_lrtk.css" rel="stylesheet">
<link href="__STATIC__/home/css/index.css" rel="stylesheet">
<script src="__STATIC__/home/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="__STATIC__/home/js/fashionfoucs.js"></script>
</head>
<body>
<!--nav开始-->
<div class="nav">
	<div class="nav_box" style="position:fixed;z-index: 100; width:100%;">
    	<div class="nav_center">
			<div class="logo"><img src="__STATIC__/home/images/logo.png" style="margin-top:13px;"></div>
			<ul class="nav">
    			<li><a href="index.html">首页</a></li>
        		<li><a href="webjianse.html">网站定制</a></li>
        		<li><a href="weixinkaifa.html">微信开发</a></li>
        		<li><a href="moban01.html">模板建站</a></li>
        		<li><a href="news.html?sort=1">新闻资讯</a></li>
        		<li><a href="case02.html">案例展示</a></li>
        		<li><a href="aboutus.html">关于我们</a></li>
    		</ul>
        </div>
      </div>
</div>
<!--nav结束-->

<!--banner开始-->
<div id="banner">
        <ul id="banner_img">
            <li class="item1">
                <div class="wrapper">
                    <div class="ad_txt">
                        <h2>高端网站定制</h2>
                        <p>
                            郑州瑞之雪网络科技有限公司---专注于企业网站建设与高端定制网站；<br>
                            专业程序开发人员，顶级ＵＩ设计师，多元人才团队；<br>
                            拒绝模板，精准定位；量身定制，专属经典；<br>
                            全程一站式服务、终身全程维护、品质就是诚信、满意才是硬道理，制作最有价值的网站；<br>
                            更多的价值给您创造更多的效益。
                        </p>
                        <a href="webjianse.html" target="_blank">了解详细&gt;</a>
                    </div>
                    <div class="ad_img">
                        <img src="__STATIC__/home/images/20120830015430148.png" width="400" height="348" alt="">
                    </div>
                </div>
            </li>
            <li class="item2">
                <div class="wrapper">
                    <div class="ad_txt">
                        <h2>移动网站建设</h2>
                        <p>
                            8亿手机网民，移动互联网流量持续上升中华；<br>
                            智能手机的发展，让你的口袋也可以轻轻松松装下的移动网站；<br>
                            简洁清晰、操作简单、兼容多平台、实时沟通，随时随地在掌上赚钱；<br>
                            你不得不拥有。
                        </p>
                        <a href="webjianse.html" target="_blank">了解详细&gt;</a>
                    </div>
                    <div class="ad_img">
                        <img src="__STATIC__/home/images/20120830015446637.png" width="400" height="348" alt="">
                    </div>
                </div>
            </li>
            <li class="item3">
                <div class="wrapper">
                    <div class="ad_txt">
                        <h2>微信客户端开发</h2>
                        <p>
                            省钱、省事、高效、多元化推广、一键多种营销活动、让销售不再难；<br>
                           微官网、微会员、微推送、微支付、微活动全部活起来；<br>
                           有趣的线上互动感受，便捷的销售服务体验，川流不息的用户粘性，源源不断的财富收入；<br>
                            相信我们，给你意想不到的惊喜。
                        </p>
                        <a href="weixinkaifa.html" target="_blank">了解详细&gt;</a>
                    </div>
                    <div class="ad_img">
                        <img src="__STATIC__/home/images/20120830015631560.png" width="400" height="348" alt="">
                    </div>
                </div>
            </li>
            <li class="item4">
                <div class="wrapper">
                    <div class="ad_txt">
                        <h2>模板建设</h2>
                        <p>
                            上百行业，上千精美模板供您选择，后台管理简单方便，栏目网站内容可自行修改；<br>
                            全新DIY模板、随心布局、中原独此一家、终身维护、送域名和空间；<br>
                           设计优美、采用SEO优化结构程序、质优价廉；<br>
                           一样的技术支持与售后服务，成交的是产品，认可的是人品。
                        </p>
                        <a href="moban01.html" target="_blank">了解详细&gt;</a>
                    </div>
                    <div class="ad_img">
                        <img src="__STATIC__/home/images/20120905092323647.png" width="400" height="348" alt="">
                    </div>
                </div>
            </li>
        </ul>
        </div>
<!--banner结束-->

<!--栏目01开始-->
<div class="column_01box">
	<ul>
    	<li>
        	<a href="#"  class="shantu" style="width:640px;">
            	<h1>我们<span style="color:#0083cf;font-size:46px; line-height:80px;">可以做</span>.</h1>
                <h2 style="margin-top:10px;">We can do it !</h2>
                <h2>We are your best private custom expert.</h2>
            </a>
        	<a href="#" class="shantu"><img src="__STATIC__/home/images/websit.jpg" alt=""><img class="sec" src="__STATIC__/home/images/step02_1.png"  alt=""></a>
            <a href="#" class="shantu"><img src="__STATIC__/home/images/zhanwei01.png" alt=""><img class="sec" src="__STATIC__/home/images/step02_1.png"  alt=""></a>
        </li>
        <li>
        	<a href="#"  class="shantu"><img src="__STATIC__/home/images/shouji.jpg" alt=""><img class="sec" src="__STATIC__/home/images/step02_1.png"  alt=""></a>
            <a href="#"  class="shantu"><img src="__STATIC__/home/images/mokuai.jpg" alt=""><img class="sec" src="__STATIC__/home/images/step02_1.png"  alt=""></a>
            <a href="#"  class="shantu"><img src="__STATIC__/home/images/zhanwei03.png" alt=""><img class="sec" src="__STATIC__/home/images/step02_1.png"  alt=""></a>
            <a href="#"  class="shantu"><img src="__STATIC__/home/images/zhanwei02.png" alt=""><img class="sec" src="__STATIC__/home/images/step02_1.png"  alt=""></a>
            <a href="#"  class="shantu"><img src="__STATIC__/home/images/ui.jpg" alt=""><img class="sec" src="__STATIC__/home/images/step02_1.png"  alt=""></a>
            <a href="#"  class="shantu"><img src="__STATIC__/home/images/zhanwei04.png" alt=""><img class="sec" src="__STATIC__/home/images/step02_1.png"  alt=""></a>
        </li>
        <li>
        	<a href="#"  class="shantu"></a>
            <a href="#"  class="shantu"><img src="__STATIC__/home/images/zhanwei05.png" alt=""><img class="sec" src="__STATIC__/home/images/step02_1.png"  alt=""></a>
            <a href="#"  class="shantu"><img src="__STATIC__/home/images/weixin.jpg" alt=""><img class="sec" src="__STATIC__/home/images/step02_1.png"  alt=""></a>
            <a href="#"  class="shantu"><img src="__STATIC__/home/images/zhanwei06.png" alt=""><img class="sec" src="__STATIC__/home/images/step02_1.png"  alt=""></a>
            <a href="#"  class="shantu"><img src="__STATIC__/home/images/zhanwei08.png" alt=""><img class="sec" src="__STATIC__/home/images/step02_1.png"  alt=""></a>
            <a href="#"  class="shantu"></a>
        </li>
    </ul>
</div>
<!--栏目01结束-->

<!--栏目02开始-->
<div class="column_02box">
	<h1>我们的项目流程</h1>
    <h2>
    	<img src="__STATIC__/home/images/col_title_ba.png" style="float:left;">
        <span style=" display:block;float:left; text-align:center; width:572px;">成功就是：追求完美，精益求精</span>
        <img src="__STATIC__/home/images/col_title_ba.png" style="float:right;">
    </h2>
    <div class="column02">
		<div class="one">
			<div class="icon jb_time"><i class="ppwzjs" style=" background:url(__STATIC__/home/images/xuqiufenxi.png)"></i></div>
				<h4>项目需求分析</h4>
		</div>
        <div class="one">
			<div class="icon jb_time"><i class="ppwzjs" style=" background:url(__STATIC__/home/images/wangzhancehua.png)"></i></div>
				<h4>网站策划</h4>
		</div>
        <div class="one">
			<div class="icon jb_time"><i class="ppwzjs" style=" background:url(__STATIC__/home/images/uisheji.png)"></i></div>
				<h4>UI界面设计</h4>
		</div>
        <div class="one">
			<div class="icon jb_time"><i class="ppwzjs" style=" background:url(__STATIC__/home/images/yemiancaijian-05.png)"></i></div>
				<h4>网站页面裁切</h4>
		</div>
        <div class="one">
			<div class="icon jb_time"><i class="ppwzjs" style=" background:url(__STATIC__/home/images/kaifachengxu.png)"></i></div>
				<h4>网站程序开发</h4>
		</div>
        <div class="one" style="margin-right:0px;">
			<div class="icon jb_time"><i class="ppwzjs" style=" background:url(__STATIC__/home/images/ceshifabu.png)"></i></div>
				<h4>测试\发布</h4>
		</div>
    </div>
</div>
<!--栏目02结束-->

<!--栏目03开始-->
<div class="column_03box">
	<div class="title_box">
		<h1>案例▪赏析</h1>
        <div class="title_right">
        	<h2>Meeting you was my biggest surprise.</h2>
       	 	<a href="case02.html">More</a>
        </div>
    </div>
	<div class="case_box" style="background-color:#F00; width:1280px; margin:auto;">
					<div class="anli-item">
						<div class="item-image"><img src="__STATIC__/home/images/index_anli_01.png"></div>
						<a rel=" " href="case02.html">
							<div class="project-overlay">
								<div class="project-info">
									<h4 class="project-name">剪纸艺术</h4>
									<p class="project-categories">艺术品牌网站建设</p>
								</div>
							</div>
						</a>
					</div>
                    <div class="anli-item">
						<div class="item-image"><img src="__STATIC__/home/images/index_anli_02.png"></div>
						<a rel=" " href="case02.html">
							<div class="project-overlay">
								<div class="project-info">
									<h4 class="project-name">万莱国际</h4>
									<p class="project-categories">房地产高端网站建设</p>
								</div>
							</div>
						</a>
					</div>
                    <div class="anli-item">
						<div class="item-image"><img src="__STATIC__/home/images/index_anli_03.png"></div>
						<a rel=" " href="case02.html">
							<div class="project-overlay">
								<div class="project-info">
									<h4 class="project-name">秀域旅游</h4>
									<p class="project-categories">旅游品牌网站建设</p>
								</div>
							</div>
						</a>
					</div>
                    <div class="anli-item">
						<div class="item-image"><img src="__STATIC__/home/images/index_anli_04.png"></div>
						<a rel=" " href="case02.html">
							<div class="project-overlay">
								<div class="project-info">
									<h4 class="project-name">织梦水下婚纱摄影</h4>
									<p class="project-categories">高级定制摄影品牌网站</p>
								</div>
							</div>
						</a>
					</div>
                    <div class="anli-item">
						<div class="item-image"><img src="__STATIC__/home/images/index_anli_05.png"></div>
						<a rel=" " href="case02.html">
							<div class="project-overlay">
								<div class="project-info">
									<h4 class="project-name">绅士手表</h4>
									<p class="project-categories">高端品牌网站建设</p>
								</div>
							</div>
						</a>
					</div>
                    <div class="anli-item">
						<div class="item-image"><img src="__STATIC__/home/images/index_anli_06.png"></div>
						<a rel=" " href="case02.html">
							<div class="project-overlay">
								<div class="project-info">
									<h4 class="project-name">居然装饰</h4>
									<p class="project-categories">数字化品牌网站建设</p>
								</div>
							</div>
						</a>
					</div>
                    <div class="anli-item">
						<div class="item-image"><img src="__STATIC__/home/images/index_anli_07.png"></div>
						<a rel=" " href="case02.html">
							<div class="project-overlay">
								<div class="project-info">
									<h4 class="project-name">伯爵酒店</h4>
									<p class="project-categories">酒店品牌网站建设</p>
								</div>
							</div>
						</a>
					</div>
                    <div class="anli-item">
						<div class="item-image"><img src="__STATIC__/home/images/index_anli_08.png"></div>
						<a rel=" " href="case02.html">
							<div class="project-overlay">
								<div class="project-info">
									<h4 class="project-name">健与美私人健身专家</h4>
									<p class="project-categories">高端品牌网站建设</p>
								</div>
							</div>
						</a>
					</div>
			</div>
</div>
<!--栏目03结束-->
<!--栏目05开始-->
<div class="column_05box">
	<div class="title_box">
		<h1>我们的优势</h1>
        <div class="title_right">
        	<h2>We always treat every customer with our heart.</h2>
        </div>
    </div> 
    <div class="youshi_box">
    	<ul>
        	<li>
            	<img src="__STATIC__/home/images/zhuanyewangzhanjianshe-01.png">
                <div class="right">
                	<h1>专业网站建设</h1>
                    <h2>专业网站建设，一对一专属服务</h2>
                </div>
            </li>
            <li>
            	<img src="__STATIC__/home/images/wangzhanjianshe-02.png">
                <div class="right">
                	<h1>网站建设一条龙</h1>
                    <h2>域名申请/备案+网站制作+发布+维护</h2>
                </div>
            </li>
            <li>
            	<img src="__STATIC__/home/images/gexinghuasheji.png">
                <div class="right">
                	<h1>个性UI设计</h1>
                    <h2>一对一设计师，跟踪设计</h2>
                </div>
            </li>
            <li style="border:none;">
            	<img src="__STATIC__/home/images/cengcengbaguan.png">
                <div class="right">
                	<h1>严格的规范的制作工序</h1>
                    <h2>每个环节层层把关，各个环节严格审核</h2>
                </div>
            </li>
            
        </ul>
        <ul>
        	<li>
            	<img src="__STATIC__/home/images/dingjifuwuqi.png">
                <div class="right">
                	<h1>国内顶级服务器</h1>
                    <h2>阿里云服务器，稳定高效</h2>
                </div>
            </li>
            <li>
            	<img src="__STATIC__/home/images/gaosuyunxing.png">
                <div class="right">
                	<h1>全网高速稳定运行</h1>
                    <h2>24小时网络监控，安全稳定</h2>
                </div>
            </li>
            <li>
            	<img src="__STATIC__/home/images/baidushoulu.png">
                <div class="right">
                	<h1>100%百度收录</h1>
                    <h2>提高网站知名度</h2>
                </div>
            </li>
            <li style="border:none;">
            	<img src="__STATIC__/home/images/kefu.png">
                <div class="right">
                	<h1>星级贴心客服</h1>
                    <h2>星级客服，随时解决您的问题</h2>
                </div>
            </li>
        </ul>
        <ul>
        	<li>
            	<img src="__STATIC__/home/images/shujubeifen.png">
                <div class="right">
                	<h1>定时数据备份</h1>
                    <h2>定时备份数据，消除意外顾虑</h2>
                </div>
            </li>
            <li>
            	<img src="__STATIC__/home/images/yumingfenxi.png">
                <div class="right">
                	<h1>域名极速解析</h1>
                    <h2>极速解析，及时生效</h2>
                </div>
            </li>
            <li>
            	<img src="__STATIC__/home/images/shouhougencong.png">
                <div class="right">
                	<h1>售后跟踪</h1>
                    <h2>不定时的打电话回访、注重客户体验</h2>
                </div>
            </li>
            <li style="border:none;">
            	<img src="__STATIC__/home/images/zhongshenshouhou.png">
                <div class="right">
                	<h1>构筑长期的合作伙伴</h1>
                    <h2>做值得客户信赖的好伙伴</h2>
                </div>
            </li>
        </ul>
    </div>          
</div>
<!--栏目05结束-->

<!--页脚开始-->
<div class="foot">
	<div class="foottop_box">
    	<ul>
        	<li><a href="index.html">首页</a></li>
            <li><a href="webjianse.html">网站定制</a></li>
            <li><a href="weixinkaifa.html">微信开发</a></li>
            <li><a href="moban01.html">模板建站</a></li>
            <li><a href=__STATIC__/home/images/>新闻资讯</a></li>
            <li><a href="case02.html">案例展示</a></li>
            <li><a href="aboutus.html">关于我们</a></li>
        </ul>
    </div>
    <div class="footdown_box">
    	<div class="middle">
        	<div class="erweima"><img src="__STATIC__/home/images/liantu-(1).png"></div>
            <div class="lianxi">
                  <h1>0371-63377006</h1>
                  <ul>
                      <li><p>网址：www.ruizhixue.cn</p></li>
                      <li><p>电话：0371-63377006/0371-63377007</p></li>
                      <li><p>地址：郑州市郑东新区黄河南路与商都路交叉口财信大厦409.</p></li>
                      <li><p>邮编：450000</p></li>
                  </ul>
              </div>
            <div class="lianxi">
                  <h1>&nbsp;</h1>
                  <ul>
                      <li><p>&nbsp;</p></li>
                      <li><p>邮箱：rzsnow@ruizhixue.cn</p></li>
                      <li><p>Copyright © 2016-2017 郑州瑞之雪网络科技有限公司 </p></li>
                      <li><p>版权所有 豫ICP备16013544号</p></li>
                  </ul>
            </div>
        </div>
    </div>  
</div>
<!--页脚结束-->

<!--js开始-->
<script>

 function nwxshi(a){

	$(".nwnr").hide();	

	$("#nw_"+a).show();

	$(".nwxg").removeClass("cur");	

	$("#nwa_"+a).addClass("cur");

}
</script> 
<!--js结束-->

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8fb693f7a42addc43c82d32b0ee7141a' type='text/javascript'%3E%3C/script%3E"));
</script>

</body>
</html>